/*version3*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* scope Tailwind */
/* Scope Tailwind inside `.tw` */
:where(.tw) {
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
}

/*version4*/
/*@import "tailwindcss";
.tw {
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
}*/
